@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    color: #000;
    font-size: 14px;
    background-color: #111;
    font-family: roboto;
}
#sidebar {
    width: 200px;
    margin: 10px; padding: 0;
    background: #222;
    list-style-type: none;
    border-radius: 4px;
    height:900px;
}
#imgsidebar{
    display: flex;
    justify-content: center;
    padding: 12px;
}

#sidebar a {
	color: #666;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}
/* animação quando passa o mouse */
#sidebar li:hover {
	background: #302f2f;
	color: rgb(255, 255, 255);
}

#sidebar i {
	color: #666;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}